et_xmlfile==2.0.0
fastapi==0.115.8
numpy==2.4.2
openpyxl==3.1.5
pandas==3.0.1
psycopg2-binary==2.9.10
python-dateutil==2.9.0.post0
python-multipart==0.0.22
python-dotenv==1.0.1
SQLAlchemy==2.0.32
six==1.17.0
tzdata==2025.3
uvicorn==0.30.6
itsdangerous==2.2.0
playwright==1.58.0
playwright-stealth==2.0.2
